.topbar {
  text-align: center;
  width: 100%;
  background-color: #282828;
  line-height: 52px;

  p {
    margin: 0;
    color: #ffffff;
    letter-spacing: 3px;
  }
}

.brand {
  text-align: center;
  h4 {
    letter-spacing: 15px;
    margin: 50px auto;
    font-size: 50px;
    font-weight: 30;
  }
}

.navbar {
  display: flex;
  .menu-text {
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 auto;
      list-style: none;
      li {
        padding: 16px;
        text-align: center;
        line-height: 31px;
        color: "#282828";
        font-size: 1em;

        &:visited {
          color: red;
          background-color: red;
        }
        .link {
          text-decoration: inherit;
          color: inherit;
          padding: 0 10px;
          letter-spacing: 3px;

          &:hover {
            text-decoration: "none";
            color: #d2461c;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .hidden {
    visibility: hidden;
    background-color: red;
    width: 30%;
  }
  .menu-icon {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: 150px;
    cursor: pointer;
    .icons {
      display: flex;
      justify-content: space-between;
      color: #282828;
      margin: auto 0;
      cursor: pointer;
      p {
        margin: 0 10px;
        font-size: 1em;
      }
      .count-order {
        background-color: #282828;
        color: #ffffff;
        text-align: center;
        border-radius: 12px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .navbar {
    .menu-text {
      ul {
        font-size: 0.8em;
      }
    }
    .menu-icon {
      .icons {
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .navbar {
    .menu-icon {
      margin-right: 50px;
    }
  }
}
@media (max-width: 1000px) {
  .topbar {
    line-height: 40px;
  }
  .brand {
    h4 {
      margin: 40px auto;
      font-size: 40px;
    }
  }
  .navbar {
    .menu-text {
      ul {
        font-size: 0.7em;
        li {
          padding: 10px;
        }
      }
    }
    .menu-icon {
      margin-right: 20px;
      .icons {
        p {
          font-size: 0.7em;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .topbar {
    line-height: 30px;
    font-size: 0.7em;
  }
  .brand {
    h4 {
      margin: 30px auto;
      font-size: 30px;
    }
  }
  .navbar {
    position: relative;
    width: 100%;
    .menu-text {
      margin: 0 auto;
      width: 100%;
      ul {
        li {
          padding: 0px;
          .link {
            Link {
              padding: 0;
            }
          }
        }
      }
    }
    .menu-icon {
      position: absolute;
      right: 0;
      width: 20%;
      margin: 5px 0;
      .icons {
        p {
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .topbar {
    font-size: 0.6em;
  }
  .brand {
    h4 {
      letter-spacing: 10px;
      margin: 20px auto;
    }
  }
  .navbar {
    .menu-text {
      ul {
        font-size: 0.5em;
      }
    }
    .menu-icon {
      right: 10px;
      width: 10%;
      .icons {
        p {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .topbar {
    line-height: 30px;
  }
  .brand {
    h4 {
      font-size: 30px;
    }
  }
  .navbar {
    position: relative;
    width: 100%;
    justify-content: flex-start;
    .menu-text {
      margin: 0 auto;
      ul {
        li {
          padding: 0px;
          .link {
            letter-spacing: 2px;
          }
        }
      }
    }
    .menu-icon {
      position: absolute;
      margin: 5px 0;
    }
  }
}
@media (max-width: 400px) {
  .topbar {
    font-size: 0.6em;
  }
  .navbar {
    .menu-text {
      width: 80%;
      ul {
        li {
          .link {
            letter-spacing: 0px;
          }
        }
      }
    }
  }
}
@media (max-width: 330px) {
  .navbar {
    .menu-text {
      margin-left: 0;
      width: 100%;
      ul {
        padding: 0;
        margin-left: 0;
        li {
          .link {
            padding: 0 10px;
          }
        }
      }
    }
  }
}