.logo-brand {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  h4 {
    letter-spacing: 5px;
    font-size: 1.5em;
  }
}
.footer-content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;
    width: 180px;
    li {
      list-style: none;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 0.8em;
      .link {
        color: #6c757d;
        text-decoration: none;
        letter-spacing: 3px;
      }
    }
  }
  .social {
    ul {
      display: flex;
      justify-content: space-around;
      li {
        margin: 0 10px;
        cursor: pointer;
        a {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.input-form {
  margin-top: 100px;
  margin-bottom: 70px;
  p {
    letter-spacing: 3px;
    text-align: center;
    font-size: 1.2em;
    color: #6c757d;
  }
  form {
    display: flex;
    justify-content: center;
    input {
      height: 40px;
      width: 350px;
      margin: 5px;
      padding: 0;
      border: 1px solid #282828;
      padding-left: 20px;
    }
    input::placeholder {
      color: #6c757d;
    }
    button {
      width: 150px;
      height: 40px;
      margin: 5px;
      padding: 0;
      border: 1px solid #282828;
      background-color: #282828;
      color: #ffffff;
      cursor: pointer;
      transition: 0.5s;
    }
    button:hover {
      background-color: #d2461c;
      border: 1px solid #d2461c;
    }
  }
}

@media (max-width: 1450px) {
  .logo-brand {
    margin-top: 0;
    margin-bottom: 70px;
  }
}
@media (max-width: 1000px) {
  .logo-brand {
    margin-bottom: 50px;
    h4 {
      letter-spacing: 5px;
      font-size: 1.5em;
    }
  }
  .footer-content {
    width: 100%;
    font-size: 0.8em;
  }
  .input-form {
    margin-top: 100px;
    margin-bottom: 70px;
    p {
      letter-spacing: 3px;
      font-size: 1em;
    }
    form {
      input {
        height: 30px;
        width: 350px;
      }
      button {
        height: 30px;
      }
    }
  }
}
@media (max-width: 600px) {
  .footer-content {
    ul {
      width: 110px;
      li {
        .link {
          letter-spacing: 0px;
        }
      }
    }
    .social {
      ul {
        li {
          margin: 0;
        }
      }
    }
  }
  .input-form {
    margin-top: 70px;
    margin-bottom: 50px;
    p {
      letter-spacing: 3px;
      font-size: 0.8em;
    }
    form {
      input {
        width: 180px;
        font-size: 0.7em;
      }
      button {
        width: 102px;
        font-size: 0.7em;
      }
    }
  }
}
@media (max-width: 350px) {
  .footer-content {
    font-size: 0.7em;
    ul {
      width: 75px;
      li {
        font-size: 0.6em;
      }
    }
  }
  .input-form {
    margin-top: 30px;
    margin-bottom: 30px;
    p {
      letter-spacing: 3px;
      font-size: 0.8em;
    }
    form {
      input {
        height: 30px;
        font-size: 0.6em;
        padding-left: 10px;
      }
      button {
        width: 80px;
        height: 30px;
        font-size: 0.6em;
      }
    }
  }
}
