*{
  // border: 0.1px solid black;
  color: #282828;
  letter-spacing: 1px;
  // font-family: 'Brandon Grotesque Regular', sans-serif;
  font-family: 'Brandon Grotesque Thin', sans-serif;
  // font-family: 'Brandon Grotesque Light', sans-serif;
  // font-family: 'Brandon Grotesque Medium', sans-serif;
  // font-family: 'Brandon Grotesque Bold', sans-serif;
  // font-family: 'Brandon Grotesque Black', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
